.ci-widget{
  padding: 0 !important;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .inner-ci-widget{
    height: 100%;
    width: 100%;

    .content{
      font-family: 'Open Sans', sans-serif;
      color: white;
      overflow: hidden;


      .project-name {
        padding-left: 10px;
        font-weight: 600;
        font-size: 3vw;
        opacity: 0.7;
        text-shadow: 0px 1px 1px #4d4d4d;
        color: #222;
        text-transform: uppercase;
      }

      .commit-info {
        position: fixed;
        top: 50%;
        margin: auto;
        width: 100%;
        padding: 0 20px;
        font-size: 1.8vw;
        line-height: 1.8vw;
        font-weight: 600;
        .inner-div{
          text-align: center;
        }
      }
      .build-history{
        position: fixed;
        width: 80%;
        height: 10%;
        bottom: 0px;
        border-top: 1px black solid;
        right: 20%;
        background-color: black;
        border-right: 1px solid black;

        .build-block{
          width: 25%;
          height: 100%;
          border: 1px black solid;
          border-bottom: none;
          float: left;
          opacity: 0.8;
        }
      }
    }
  }
}

// Build statuses
.passed{
  background-color: #2ECC80;
}

.failed, .errored{
  background-color: #F16C4E;
}

.building, .started{
  background-color: #FFC107;
}

.unknown{
  background-color: gray;
}

