$dark-color: #58534C;
$light-color: #F1D4A9;

.clock-and-cal {
  height: 100%;
  background-color: $light-color;
  color: $dark-color;
  .clock {
    height: 10vmax;
  }
}
.calendar-resource {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.6vmax;
  padding: 10px 20px 20px 20px;
  background-color: #F1D4A9;
  color: #58534C;

  &.booked {
    .sign {
    background-color: #F16C4E;
      background: repeating-linear-gradient(
        45deg,
        #F16C4E,
        #F16C4E 10px,
        darken(#F16C4E, 20%) 10px,
        darken(#F16C4E, 20%) 20px
      );
      font-weight: bold;
    }
  }

  .sign {
    color: white;
    margin: 0 auto;
    width: 90%;
    font-size: 80%;
  }

  &.available {
    .sign {
      background: green;
    }
  }

  .title {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: -webkit-box;
    padding-bottom: 20;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .nextText {
    font-size: 50%;
    font-style: italic;
    position: relative;
    top: -2px;
  }

  .nextTime {
    font-size: 80%;
    font-style: normal;
    font-weight: bold;
  }
}
