.clock {
  height: 100%;
  width: 100%;
  padding: 20px 0;
  background-color: #F2D4A6;
  text-align: center;
  color: #58534C;
  .time {
    font-size: 5vmax;
    line-height: 5vmax;
    font-weight: bold;
  }
  .date{
    font-size: 2vmax;
    line-height: 2vmax;
  }
}
