$dark-color: #58534C;
$light-color: #F1D4A9;

.clock-and-cal {
  height: 100%;
  background-color: $light-color;
  color: $dark-color;
  .clock {
    height: 10vmax;
  }
}
.calendar {
  width: 100%;
  padding-top: 2vmax;

  .events {
    padding: 1em 2vmax;
    width: 100%;

    .event {
      padding-bottom: 50px;
      .timestamp {
         color: $light-color;
         font-size: 1.0vmax;
         text-transform: uppercase;
         letter-spacing: 0.1em;
         font-weight: 700;
         span {
           background-color: $dark-color;
           padding: 2px 16px;
           border-radius: 3px;
           -moz-border-radius: 3px;
           -webkit-border-radius: 3px;
         }
      }
      .title {
        padding-top: 20px;
        font-size: 2.5vmax;
        line-height: 2.8vmax;
        height: 7vmax;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .duration {
        font-size: 15px;
        padding-top: 10px;
        .humanized-duration {
          font-weight: bold;
        }
      }
    }
  }
}
